@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.App {
  background: rgba(243, 241, 241, 0.781);
}
.App2 {
  background: rgba(0, 0, 0, 0.945);
}

.header {
  background-image: url(./Images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  height: 200px;
}
.header2 {
  background-image: url(./Images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  height: 200px;
}
.title {
  display: flex;
  gap: 400px;
  margin-bottom: 20px;
}
.title h1 {
  color: white;
  font-weight: 700;
  font-size: 20px;
  animation: vibrate-1 0.3s linear 10 both;
}
.moon {
  cursor: pointer;
  transition: 0.3s;
  font-size: larger;
  animation: bounce-in-top 1s both;
}
.moon:hover {
  transform: scale(1.1);
}
.form-container {
  width: 100%;
  position: absolute;
  top: 55px;
  z-index: 1;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  width: 500px;
  padding: 6px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(235, 226, 226);
  background: white;
}

.input2 {
  width: 500px;
  padding: 6px;
  border-radius: 5px;
  outline: none;
  color: rgba(223, 217, 217, 0.61);
  background: rgb(37, 39, 61);
  box-shadow: rgba(0, 0, 0) 0px 5px 5px -10px;
}

.todo-container {
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
.todo {
  background: white;
  width: 500px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid rgb(235, 226, 226);
}
.todo2 {
  background: rgb(37, 39, 61);
  width: 500px;
  padding: 6px;
  color: rgba(223, 217, 217, 0.61);
  border-radius: 4px;
  margin-bottom: 2px;
}
.footer-container {
  background: white;
  width: 500px;
  text-align: center;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid rgb(235, 226, 226);
  margin-top: 1px;
}
.footer-container2 {
  background: rgb(37, 39, 61);
  width: 500px;
  text-align: center;
  padding: 6px;
  border-radius: 4px;

  margin-top: 1px;
}
.footer {
  display: flex;
  gap: 90px;
  font-size: 12px;
  justify-content: center;
}
.footer2 {
  display: flex;
  gap: 90px;
  font-size: 12px;
  justify-content: center;
  color: rgba(223, 217, 217, 0.61);
}
.h1 {
  text-decoration: line-through;
  color: rgba(128, 128, 128, 0.466);
}
.check {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  border: 1px solid gray;
}
.check2 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid gray;
}

/* RESPONSINESS */

@media all and (max-width: 500px) {
  .title {
    display: flex;
    gap: 300px;
    margin-bottom: 20px;
  }

  .input {
    width: 400px;
    padding: 6px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(235, 226, 226);
    background: white;
  }

  .input2 {
    width: 400px;
    padding: 6px;
    border-radius: 5px;
    outline: none;
    color: rgba(223, 217, 217, 0.61);
    background: rgb(37, 39, 61);
    box-shadow: rgba(0, 0, 0) 0px 5px 5px -10px;
  }

  .todo {
    background: white;
    width: 400px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid rgb(235, 226, 226);
  }
  .todo2 {
    background: rgb(37, 39, 61);
    width: 500px;
    padding: 6px;
    color: rgba(223, 217, 217, 0.61);
    border-radius: 4px;
    margin-bottom: 2px;
  }
  .footer-container {
    background: white;
    width: 400px;
    text-align: center;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid rgb(235, 226, 226);
    margin-top: 1px;
  }
  .footer-container2 {
    background: rgb(37, 39, 61);
    width: 400px;
    text-align: center;
    padding: 3px;
    border-radius: 4px;

    margin-top: 1px;
  }

  .footer {
    display: flex;
    gap: 50px;
    font-size: 12px;
    justify-content: center;
  }
  .footer2 {
    display: flex;
    gap: 50px;
    font-size: 12px;
    justify-content: center;
    color: rgba(223, 217, 217, 0.61);
  }
}

@media all and (max-width: 750px) {
  .title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
  }

  .title h1 {
    color: white;

    animation: vibrate-1 0.3s linear 10 both;
  }
  .moon {
    cursor: pointer;
    transition: 0.3s;
    font-size: larger;
    animation: bounce-in-top 1s both;
  }
  .moon:hover {
    transform: scale(1.1);
  }

  .input {
    width: 300px;
    padding: 6px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(235, 226, 226);
    background: white;
  }

  .input2 {
    width: 300px;
    padding: 6px;
    border-radius: 5px;
    outline: none;
    color: rgba(223, 217, 217, 0.61);
    background: rgb(37, 39, 61);
    box-shadow: rgba(0, 0, 0) 0px 5px 5px -10px;
  }

  .todo {
    background: white;
    width: 300px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid rgb(235, 226, 226);
  }
  .todo2 {
    background: rgb(37, 39, 61);
    width: 300px;
    padding: 6px;
    color: rgba(223, 217, 217, 0.61);
    border-radius: 4px;
    margin-bottom: 2px;
  }
  .footer-container {
    background: white;
    width: 300px;
    text-align: center;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid rgb(235, 226, 226);
    margin-top: 1px;
  }
  .footer-container2 {
    background: rgb(37, 39, 61);
    width: 300px;
    text-align: center;
    padding: 3px;
    border-radius: 4px;

    margin-top: 1px;
  }

  .footer {
    display: flex;
    padding-left: 2px;
    font-size: 8px;
    justify-content: space-between;
  }
  .footer2 {
    display: flex;
    font-size: 8px;
    padding-left: 2px;
    justify-content: space-between;
    color: rgba(223, 217, 217, 0.61);
  }
}

/* ANIMATION */

@keyframes bounce-in-top {
  0% {
    transform: translateY(-700px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-2 20:53:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
